.discord-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 1;
}

.discord-title {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding-top: 0.4em;
    text-align: center;
    text-transform: uppercase;
}

.discord-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;

    @media #{$tablet} {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.discord-invite {
    background-color: #7289da;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
