* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: rgb(3, 0, 32);
    background: -moz-linear-gradient(
        180deg,
        rgba(3, 0, 32, 1) 0%,
        rgba(7, 0, 71, 1) 43%,
        rgba(78, 93, 148, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(3, 0, 32, 1) 0%,
        rgba(7, 0, 71, 1) 43%,
        rgba(78, 93, 148, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(3, 0, 32, 1) 0%,
        rgba(7, 0, 71, 1) 43%,
        rgba(78, 93, 148, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030020",endColorstr="#4e5d94",GradientType=1);
}

a {
    text-decoration: none;
}
