// Breakpoints
$tablet: '(max-width: 450px)';
$social-img: '(max-width: 610px)';
$social-desktop: '(max-width: 1380px)';
$footer: '(max-width: 570px)';
$mid-point: '(max-width: 430px)';
$desktop: '(min-width: 768px)';
