.slider {
    span {
        margin-left: 0.4em;
    }
}

.twitter {
    li {
        background: linear-gradient(to right, #1da1f2, #1da1f2);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 0.4s 0s;

        &:hover {
            color: white;
            background-size: 100% 100%;
        }
    }
}
