.fade-in {
    animation: fadeIn ease-in 3s;
}

.spinAnim {
    animation: spin-animation 180s linear infinite;
}

.hashtag-slider {
    span {
        animation: hashtag-slider 120s linear infinite;
        margin-left: 0.4em;
    }
}

.twitter {
    li {
        background: linear-gradient(to right, #1da1f2, #1da1f2);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 0.4s 0s;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: white;
                background-size: 100% 100%;
            }
        }
    }
}

.discord-invite {
    background-color: #7289da;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes hashtag-slider {
    0% {
        transform: translatex(0%);
    }
    100% {
        transform: translatex(-100%);
    }
}
