.section-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 550px;
}

.section-social {
    background-color: #f6f5f5;

    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .svg {
        position: absolute;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
        mix-blend-mode: overlay;
    }
}

.section-discord {
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(4000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(4000)}px #FFF';
    }
    @return unquote($value);
}

$shadows-small: multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(200);

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    will-change: transform;

    &:after {
        content: ' ';
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

@keyframes animStar {
    from {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    to {
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;

    &:after {
        content: ' ';
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}
