.instagram-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    grid-gap: 8px;

    img {
        height: auto;
        width: 100%;
        transition: all 0.2s ease-in-out;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    @media #{$social} {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        gap: 0.4em;
    }

    @media #{$tablet} {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 95%);
        gap: 0.4em;
    }
}
