.twitter-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;

    a {
        color: inherit;
    }

    li {
        display: flex;
        flex-direction: column;
        max-width: 24em;
        background: linear-gradient(to right, #1da1f2, #1da1f2);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: color 2s ease;
        transition: background-size 0.4s 0s;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: white;
                background-size: 100% 100%;
            }
        }
    }

    .tweet {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;

        .date {
            margin-top: 0.6em;
            font-size: 0.8em;
        }
    }
}
