.scaleBig {
    transition: all 0.2s ease-in;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.08);
            transition: color 0.2s;
        }
    }
}

.scaleSmall {
    transition: all 0.2s ease-in;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05);
            transition: color 0.2s;
        }
    }
}
